header{
    background-color: #74459b;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    padding: 10 px 0;
}
.caixa{
    position: relative;
    margin: 0 auto;
    letter-spacing: 5px;
    word-spacing: 30px;
}
h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bolder;
    margin-left: 5px;
    letter-spacing: 5px;
}
nav{
    position: absolute;
    top:0;
    right: 10px;
    display: inline-block;
    color: white;
    font-size: 1.6rem;
}
nav li{
    display: inline-block;
    margin: 5 5 5 5px;
}
nav a {
    display: inline-block;
    text-transform: uppercase;
    color: rgb(252, 248, 248);
}
.caixa:first-letter{
    color: crimson;
    font-size: 5rem;
}
.caixa:hover{
    font-size: 5rem;
    color: crimson;
}
.pet{
    width: 100vw;
}
.titulofotos{
    font-size: 1rem;
    color: #74459b;
}
.bt {
    text-align: center;
    font-family: Helvetica, sans-serif; 
    font-weight: 1rem; 
    color: #FFCC00;
    background: #000000; 
    padding: 18px;
    position: relative;
    bottom: 6px;
    margin: auto;
    border-radius: 10px; 
    cursor: pointer; 
}

.bt:hover {
    background: #FF7519;
    font-size: 3rem;
}

.rodape{
    width: 100vw; 
    height: 80px; 
    background: #0a0a0af6; 
}

.copyright {
    text-align: center; 
    color: #FFCC00;
    font-size: 2rem;
    font-family: Helvetica, sans-serif; 
    font-weight: bolder; 
    padding: 20px;

}