@font-face {
    font-family: 2rem;
    src: url(wall.perlok.png);
}
body{
    background-color: darkolivegreen;
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat; /* overflow-y:hidden
    overflow-x : hidden;  */
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
.opcoesNav{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    align-items: flex-end;
}
.opcoesNav img{
    width: 100px;
    filter: invert(77%) saturate(26%) hue-rotate(158deg) brightness(208%) contrast(190%);
}
header a{
    padding-right: 1em;
    text-decoration-line: none;
    color: #ffffff;
    transition: 0.9s ease-in-out;
}
header a :hover{
    cursor: pointer
    filter: invert(77%) saturate(26%) hue-rotate(158deg) brightness(208) contrast(190%);
}
.equipe{
    width:  120px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}
.logo{
    width: 150px;
    filter: invert(22%) saturate (26%) hue-rotate(78deg) brightness(58%) contrast(19%);
}

section.principal{
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 700px;
    color: #ffffff;
    width: 100%;
    line-height: 20px;
}
.principal a button{
    color: aliceblue;
    text-decoration: none;
    font-size: 200%;
    font-family: 'Times New Roman', Times, serif;
    background-image: -o-linear-gradient(to right, #010102 0%, hsl(34, 74%, 40%) 31%, #0000 100%);
    padding: 12 px 20 px;
    transition:  0.5s;
    background-size:  200% auto;
    box-shadow: 0 0 20px #eee;
    border-radius: 18px 0 18px 0;
    cursor: pointer;
}
.principal h1{
    font-size: 5rem;
    text-shadow: 2px 2px ,3px rgba(0,0,0,1);
}
.section sobre{
    color: #ffffff;
    width: 80%;
    text-align: center;
    margin: auto;
}
.sobre h1{
    margin-top: 80%;
    font-size: 3 rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 30px;
}
sobre p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.9rem;
    text-align: justify;
    width: 80%;
    margin: 0 auto;
    line-height: 25px;
}

footer{/* rodape da pagina */
    margin-top: 80px;
    color:#ffffff;
    text-align: center;
}
footer h2{
    padding: 40px 0;
    font-size:  1.5rem;
}